* {
   box-sizing: border-box;
   text-align: center;
   padding: 0;
}

body{
    font-family: "Libre Baskerville", serif;
    background-color: rgb(63, 10, 70);
    /* background: linear-gradient(#58b6b9, #edf1cf); */
}

#list-container{
    max-width: 600px;
    /* background-color: rgb(91, 172, 128); */
    margin: 0 auto;
    padding: 0 30px;
}

#main-title{
    color: #fff;
    font-size: 40px;
    font-weight: 500px;
}

#list{
    list-style: none;
    color: #fff;
    
}

#task-input{
    width: 250px;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
}

#my-input:focus{
   box-shadow: 0px 0px 24px 0px rgba(218, 187, 187, 0.25); 
}

#add-btn{
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background: #f55f08;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    font-weight: 500;
    transition: background 1s ease;
}

#add-btn:hover{
    box-shadow: 0px 0px 24px 0px rgba(219, 102, 102, 0.25);
    cursor: pointer;
    background: #8a240a;
}

.list-item{
    height: 30px;
    font-size: 18px;
    color: rgb(51, 33, 83);
    background-color: #cde5e9;
    margin-bottom: 20px;
    border: 2px dolid transparent;
    border-radius: 10px;
}

.done-color{
    box-shadow: 0px 0px 24px 0px rgba(218, 187, 187, 0.25); 
    background-color: #a4eba4;
}

.delete-icon{
    color: rgb(31, 27, 27);
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0 150px;
    transition: 1s;
}

.delete-icon:hover{
    color: red;
}
